<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/homepage.css">
    
</head>

<body>
    <%- include('./partials/navbar') %>
        <div class="main-container">
            <div class="heading">
                <h1>Welcome to Product Rest Api</h1>
                <p>This is a fake Rest api only for building an E-Commerce prototype. It consists of Electronic devices like Mobile phones, laptops, watches and others.</p>
            </div>
            <div class="cta">
                <button class="get-started" onclick="window.location.href='/api'">Get Started</button>
            </div>
        </div>
</body>

</html>